<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aymaan.cse110applogin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/GalendARY"
        android:roundIcon="@drawable/logo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecoveryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home"
            android:label="Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyGroups"
            android:label="My Groups"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JoinGroup"
            android:label="Join Group"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NoticeBoard"
            android:label="Notice Board"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddNotice"
            android:label="Add Notice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Heatmap"
            android:label="Heatmap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemberList"
            android:label="Member List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemberPage"
            android:label="Member List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateGroup"
            android:label="Create Group"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemberPageAdminView"
            android:label="Member List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewEventDetails"
            android:label="View Event Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactAdminActivity"
            android:label="Contact Admin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddTaskEventActivity"
            android:label="@string/title_activity_add_task_event"
            android:theme="@style/AppTheme" />
        <activity android:name=".GroupHomeActivity" />
        <activity
            android:name=".JoinRequests"
            android:label="Join Requests" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".AccountSettings"
            android:label="Account Settings" />
        <activity
            android:name=".PasswordChange"
            android:label="@string/title_activity_password_change"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GroupSettings"
            android:label="@string/title_activity_group_settings"
            android:theme="@style/AppTheme" />
        <activity android:name=".GroupAddTaskEventActivity" />
        <activity android:name=".GroupAddEventFragment" />
        <activity android:name=".GroupAddTaskFragment" />
        <activity android:name=".EditTaskEvent" />
        <activity android:name=".EditTaskFragment" />
        <activity android:name=".EditEventFragment"></activity>
    </application>

</manifest>